@charset "UTF-8";
/* Variables */
/*Global Elements */
* {
  font-family: Arial, Helvetica, sans-serif;
}

#navbar a {
  color: -webkit-linear-gradient(90deg, red 0%, gray 100%);
  background: -webkit-linear-gradient(bottom left, red 0%, gray 10%, red 20%, gray 30%, red 40%, gray 50%, red 60%, gray 70%, red 80%, gray 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  width: 100%;
  font-weight: 999;
}

li {
  padding-bottom: 10px;
}

p {
  font-size: 16px;
  font-weight: 50;
  line-height: 1.5;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  color: lightblue;
}

/* Global Classes and IDs */
#main-doc li {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

/* Global ids and clases*/
/**/
#welcomeSection {
  /**  border: 21px ridge darkcyan;  */
  width: 99%;
  height: 300px;
  /**background: url("/images/gifs/NVivo2_small_WEB.gif");
  background-size: 100% 100%;*/
  position: relative;
  left: 1%;
  position: relative;
}

#welcomeSection img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#welcomeSection:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 5.5rem solid red;
  border-left: 34rem solid transparent;
  width: 0;
}

#welcomeSection:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 5.5rem solid red;
  border-right: 34rem solid transparent;
  width: 0;
}

#welcomeSection img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#headerimg {
  margin: -5% -5% 0 -5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: lightgray;
  background: #ffbebe;
  color: black;
}

#navbar {
  position: fixed;
  list-style: none;
  width: 20%;
  height: 100vh;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  height: 100%;
  border: 5px solid gray;
}

#navbar p {
  padding-left: 20px;
  font-size: 18px;
}

#navbar li {
  list-style: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  font-size: 20px;
  padding: 10px 30px 10px 20px;
  font-weight: 100;
  /**background-color: rgba(	192,192,192, 0.4);*/
}

#navbar ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  font-weight: 550;
}

#jsdocumnt {
  padding: 10px 0 0 10px;
  font-size: 26px;
  color: #235e71;
}

#main-doc {
  margin-left: 20%;
  display: -ms-grid;
  display: grid;
}

.main-section {
  border-left: 50px ridge darkred;
  border-bottom: 50px ridge darkred;
  border-right: 50px ridge darkred;
  border-top-right-radius: 150px 150px;
  border-top-left-radius: 150px 150px;
  margin-top: 1%;
}

.main-section header {
  margin-left: 10px;
}

.main-section #parrafoBienvenida {
  width: 95%;
}

.main-section .importante {
  color: -webkit-linear-gradient(90deg, red 0%, gray 100%);
  background: -webkit-linear-gradient(bottom left, red 0%, gray 10%, red 20%, gray 30%, red 40%, gray 50%, red 60%, gray 70%, red 80%, gray 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-section .mainSectionTitles {
  color: -webkit-linear-gradient(90deg, red 0%, gray 100%);
  background: -webkit-linear-gradient(bottom left, red 0%, gray 10%, red 20%, gray 30%, red 40%, gray 50%, red 60%, gray 70%, red 80%, gray 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  padding: 1rem 0 0 2rem;
}

.headerimg {
  width: 100%;
  height: 18rem;
}

#main-doc img {
  -ms-grid-column-align: center;
      justify-self: center;
}

#main-doc p {
  padding: 0 0 0 35px;
}

#main-doc ul {
  padding: 0 0 0 90px;
}

#descargueElInstalador {
  margin-left: 30%;
}

#requirimientosDeSistema {
  margin-left: 25%;
}

#descargueElInstalador {
  color: red;
  font-size: 2rem;
  margin-left: -1%;
  padding-left: 2.6rem;
}

#numberedList {
  display: -ms-grid;
  display: grid;
}

#ejecutarComoAdminText {
  margin-left: -14%;
}

#emailSeraEnviadoP {
  width: 70%;
  margin-left: 10%;
}

#notesParagraph {
  width: 90%;
}

#notes {
  color: lightblue;
}

#languageSelection {
  margin-left: 25%;
}

#rowFlexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#rowFlexBox p {
  width: 35%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#linea,
#lineaHaciaLaIzq {
  width: 62%;
  margin-left: 25%;
}

#linea:hover {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

#lineaHaciaLaIzq:hover {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

#rowFlexBox #imgright:hover {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

#rowFlexBox #imgleft:hover {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

#rowFlexBox p:hover {
  color: pink;
}

#main-doc header {
  margin-top: 20px;
}

#ventanaActivacion {
  margin-left: 30%;
}

#pasosProcesoDesactivacion {
  width: 70%;
}

#InfoProducto {
  width: 400px;
  height: 200px;
  margin-left: 18%;
  margin-bottom: 2rem;
}

#Contact_Info {
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  margin-left: 15%;
}

#Contact_Info #nvivoEditedLogo {
  width: 200px;
  height: 100px;
}

#Contact_Info h1 {
  color: -webkit-linear-gradient(90deg, red 0%, gray 100%);
  background: -webkit-linear-gradient(bottom left, red 0%, gray 10%, red 20%, gray 30%, red 40%, gray 50%, red 60%, gray 70%, red 80%, gray 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-grid-column-align: center;
      justify-self: center;
}

#Contact_Info #direccionParaInquietudes {
  width: 60rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

#Contact_Info #áreaDeSoporte {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 0;
}

#Contact_Info #áreaDeSoporte b {
  width: 10rem;
  margin-left: 5rem;
}

#Contact_Info #áreaDeSoporte a {
  width: 10%;
  margin: 0;
  text-decoration: none;
  -ms-grid-column-align: center;
      justify-self: center;
  color: black;
}

#Contact_Info #áreaDeSoporte p {
  margin-left: -2rem;
  margin: 0;
  width: 15rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

#Contact_Info ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-gap: 0;
  margin-right: 4rem;
}

#Contact_Info ul li {
  list-style: none;
  display: -ms-grid;
  display: grid;
  grid-gap: -1;
}

#Contact_Info ul li b {
  -ms-grid-column-align: center;
      justify-self: center;
}

#Contact_Info ul li p {
  margin-right: 20px;
}

#Contact_Info #mantengaseConectado {
  -ms-grid-column-align: center;
      justify-self: center;
}

#Contact_Info div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

#Contact_Info div .fa-facebook {
  color: blue;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

#Contact_Info div .fa-facebook:hover {
  -webkit-transform: translate(10px, -10px);
          transform: translate(10px, -10px);
}

#Contact_Info div .fa-linkedin {
  color: #19c3ee;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

#Contact_Info div .fa-linkedin:hover {
  -webkit-transform: translate(10px, -10px);
          transform: translate(10px, -10px);
}

#Contact_Info div img {
  margin-top: 2px;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

#Contact_Info div img:hover {
  -webkit-transform: translate(10px, -10px);
          transform: translate(10px, -10px);
}

#Contact_Info .fab {
  border-radius: 50%;
}

@media (max-width: 1000px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #navbar {
    height: 40vh;
    width: 96.5vw;
    position: absolute;
  }
  #main-doc {
    margin: 40vh 0 0 0;
  }
  h1 {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */