@charset "UTF-8";
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.15s ease;
}

/* Variables */
/*Browser Styling*/
::-webkit-scrollbar {
  width: 0.9em;
  height: 0.9em;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #3f00fb 0%, #172bb9 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
  border-radius: 7rem;
}

::-webkit-scrollbar-track {
  background: #9f80fd;
  border-radius: 7rem;
}

/*Global Elements */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Dark Mode Toggler */
.switch {
  position: fixed;
  right: 2rem;
  top: 2rem;
  height: 3rem;
  width: 3rem;
  /*background: rgb(255, 255, 255);
  background: $bodyBackground;  */
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 50%;
  z-index: 100;
}

/* Body Styling */
/* Themes */
body {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.StataTheme {
  background: purple;
  background: -webkit-linear-gradient(-60deg, rgba(63, 0, 251, 0.85) 10%, rgba(96, 0, 251, 0.85) 60%, rgba(63, 0, 251, 0.85) 90%);
  color: white;
}

.dark {
  background: black;
}

.mainSectionTitles {
  color: -webkit-linear-gradient(90deg, white 0%, black 100%);
  background: -webkit-linear-gradient(bottom left, black 0%, white 30%, black 40%, white 50%, black 60%, white 70%, black 80%, white 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
}

.mainSectionTitlesDarkTheme {
  color: white;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
}

.navMenuColors a {
  color: -webkit-linear-gradient(90deg, white 0%, black 100%);
  background: -webkit-linear-gradient(bottom left, black 0%, white 30%, black 40%, white 50%, black 60%, white 70%, black 80%, white 90%);
}

.navMenuColorsDarkTheme a {
  color: white;
  background: white;
}

/* Main-Doc Styling */
#main-doc {
  margin-left: 20%;
  width: 80%;
}

/* Styling for Navigation Menu */
/* Navigation Menu Toggler */
.NMview {
  position: fixed;
  left: .5rem;
  top: .5rem;
  width: 5rem;
  height: 2.5rem;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  z-index: 100;
}

#navbar {
  position: fixed;
  list-style: none;
  width: 20%;
  height: 100%;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  height: 100%;
  border: 5px solid gray;
  border-radius: 2%;
}

#navbar p {
  padding-left: 20px;
  font-size: 18px;
}

#navbar ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

#navbar li {
  list-style: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  font-size: 20px;
  padding: 10px 30px 10px 20px;
  font-weight: 100;
}

#navbar a {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  width: 100%;
  font-weight: 999;
}

#menutitle {
  display: grid;
  grid-gap: 1rem;
  font-size: 1.5rem;
  font-weight: 999;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-right: 2rem;
  text-align: right;
}

#welcomeSection {
  width: 80%;
  height: 18rem;
  margin-left: 19%;
  left: 1%;
  position: absolute;
}

#welcomeSection #WSImg {
  width: 80%;
  margin-left: 8%;
  padding: 2.5rem;
}

#welcomeSection div {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0;
  justify-content: center;
  align-self: center;
  margin-bottom: 8rem;
  margin-right: 8rem;
}

#welcomeSection p {
  justify-self: center;
  align-self: center;
  padding: 0;
  color: white;
}

#welcomeSection #insGuide {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

#welcomeSection #licenseDeUsuario {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

#welcomeSection:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 5.5rem solid #3f00fb;
  border-left: 34rem solid transparent;
  width: 0;
}

#welcomeSection:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 5.5rem solid #3f00fb;
  border-right: 34rem solid transparent;
  width: 0;
}

/*Movimiento de las Imagenes en el Header*/
/* Sombras en parrafos e Imagenes */
/* Main section styles - Contenido de la Guia */
.main-section {
  border-left: 50px ridge #172bb9;
  border-bottom: 50px ridge #172bb9;
  border-right: 50px ridge #172bb9;
  border-top-right-radius: 150px 150px;
  border-top-left-radius: 150px 150px;
  margin-top: 19rem;
  width: 99%;
  margin-left: 0.3%;
  padding: 0;
  display: grid;
}

.main-section #parrafoBienvenida {
  width: 95%;
}

/* Main doc Styles */
#parrafoBienvenida {
  margin: 1rem;
}

#antesDeIniciar {
  margin: 1rem;
}

#comprobacioRequerimientos {
  width: 80%;
  margin-left: 5rem;
}

#contReqDeSistema {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#contReqDeSistema ul {
  display: grid;
  grid-gap: 0;
  padding: 2rem;
}

#contReqDeSistema ul li {
  margin: 0;
  padding: 0;
  line-height: 1;
}

#requerimientosDeSistemaImg {
  box-sizing: border-box;
  height: 100%;
  padding: 3rem;
  justify-self: center;
  width: 100%;
  transition: width 2s, height 2s ease-in;
}

#requerimientosDeSistemaImg:hover {
  height: 115%;
  width: 115%;
  padding: 3rem;
  justify-self: center;
}

#comprReq {
  text-align: center;
  padding: 1rem;
}

/* Download file and start installation section*/
#oLContainer {
  padding-bottom: 5rem;
  /* Adding styling numbers for lists */
}

#oLContainer ol {
  /* Set "my-sec-counter" to 0 */
  counter-reset: my-sec-counter 0;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

#oLContainer li {
  list-style: none;
  box-sizing: border;
  width: 100%;
  margin: 0;
}

#oLContainer li::before {
  /* Increment "my-sec-counter" by 1 */
  counter-increment: my-sec-counter;
  content: counter(my-sec-counter) ".";
  color: white;
  position: absolute;
}

#oLContainer a {
  color: -webkit-linear-gradient(90deg, white 0%, black 100%);
  background: -webkit-linear-gradient(bottom left, black 0%, white 30%, black 40%, white 50%, black 60%, white 70%, black 80%, white 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: purple;
  text-decoration: underline;
  width: 100%;
  text-align: center;
}

#oLContainer .lista1-OL {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 1rem 0;
}

#oLContainer #plista1-OL {
  margin-left: 1rem;
  background: gray;
  box-shadow: 5px 5px;
  padding: 3px;
  transition: color 2s;
}

#oLContainer #plista1-OL:hover {
  color: #740013;
}

#oLContainer #opcion-inicializacion {
  background: gray;
  box-shadow: 10px 5px;
}

#oLContainer #contenidolista1 {
  display: flex;
  flex-direction: column;
}

#oLContainer #descargueElInstalador {
  font-size: 2rem;
  padding: 2rem;
  width: 100%;
}

#oLContainer #esperarPorDescarga {
  width: 25rem;
  height: 10rem;
  margin-top: 1rem;
  margin-left: 10rem;
  padding: 1rem;
}

#oLContainer #esperarPorDescarga:hover {
  width: 30rem;
  height: 15rem;
}

#oLContainer .lista2-OL {
  margin-top: 5rem;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#oLContainer #plista2-OL {
  margin-left: 1.2rem;
  margin-bottom: 10rem;
  background: gray;
  box-shadow: 5px 5px;
  transition: color 2s;
}

#oLContainer #plista2-OL:hover {
  color: #740013;
}

#oLContainer #ejecutarComoAdminIMG {
  width: 20rem;
  height: 20rem;
  margin-right: 3rem;
  margin-top: 1rem;
  padding: 0.5rem;
  transition: width 2s, height 2s;
}

#oLContainer #ejecutarComoAdminIMG:hover {
  width: 32rem;
  height: 35rem;
  margin-right: 5rem;
}

#oLContainer .inicialización {
  margin-bottom: -7rem;
}

#oLContainer #lineaDireccionadora {
  width: 45%;
  margin-left: 13rem;
}

#oLContainer #lineaDireccioIzqDer {
  margin-bottom: -9rem;
}

#oLContainer #listaImgALaDerecha {
  margin-bottom: 3rem;
}

#oLContainer .lista3-OL {
  margin-top: 5rem;
  padding-top: 5rem;
  width: 90%;
}

#oLContainer .lista3-OL #plista3-OL {
  margin-left: 1.5rem;
  min-width: 50%;
  background: gray;
  box-shadow: 10px 5px;
  padding: 1rem;
}

#oLContainer .lista3-OL :hover {
  color: #740013;
}

#oLContainer .lista4-OL {
  margin-left: 5rem;
  padding-top: 5rem;
}

#oLContainer .lista4-OL #plista4-OL {
  margin-left: 1.5rem;
  margin-bottom: 3rem;
  width: 72%;
  background: gray;
  box-shadow: 10px 5px;
  padding: 1rem;
}

#oLContainer .lista4-OL :hover {
  color: #740013;
}

#listLine {
  margin-bottom: 9rem;
}

#languageSelection {
  margin-left: 25%;
}

#secondListCont-OL {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#rowFlexBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#rowFlexBox p {
  width: 35%;
  align-self: center;
}

#rowFlexBox p:hover {
  color: #740013;
}

#linea,
#lineaHaciaLaIzq {
  width: 62%;
  margin-left: 25%;
}

#linea:hover {
  transform: translateX(-20px);
}

#lineaHaciaLaIzq:hover {
  transform: translateX(20px);
}

#rowFlexBox .imgRight {
  transition: width 1s, height 1s;
  width: 20rem;
  height: 20rem;
  margin-right: 2rem;
  margin-top: 8.5rem;
}

#rowFlexBox .imgLeft {
  transition: width 1s, height 1s;
  width: 20rem;
  height: 20rem;
}

#rowFlexBox .imglista10 {
  transition: width 1s, height 1s;
  width: 20rem;
  height: 20rem;
}

#rowFlexBox .imglista10:hover {
  width: 35rem;
  height: 35rem;
  margin-right: 5rem;
}

#rowFlexBox .imgLeft:hover {
  width: 25rem;
  height: 25rem;
  margin-left: 5rem;
}

#rowFlexBox .imgRight:hover {
  width: 31rem;
  height: 31rem;
  margin-right: 5rem;
}

#rowFlexBox p:hover {
  color: #740013;
}

#ventanaActivacion {
  margin-left: 30%;
}

#pasosProcesoDesactivacion {
  width: 70%;
}

#InfoProducto {
  width: 400px;
  height: 200px;
  margin-left: 18%;
  margin-bottom: 2rem;
}

#cont2daListaOrdenada ol {
  /* Set "my-sec-counter" to 0 */
  counter-reset: my-sec-counter 11;
  margin: 0;
  flex-direction: column;
  justify-content: center;
}

#cont2daListaOrdenada li {
  list-style: none;
  box-sizing: border;
  width: 100%;
  margin: 0;
}

#cont2daListaOrdenada li::before {
  /* Increment "my-sec-counter" by 1 */
  counter-increment: my-sec-counter;
  content: counter(my-sec-counter) ".";
  color: white;
  position: absolute;
}

#cont2daListaOrdenada .listaGrande-OL #plistaGrandeOL {
  margin-top: 1rem;
  margin-left: 1.5rem;
  background: gray;
  box-shadow: 10px 5px;
  padding: 1rem;
  width: 95%;
}

#cont2daListaOrdenada .listaGrande-OL #plistaGrandeOL:hover {
  color: #740013;
}

#cont2daListaOrdenada #listImgGrande {
  width: 31rem;
  height: 31rem;
  margin-top: 2rem;
  margin-left: 22%;
  transition: width 1s, height 1s;
}

#cont2daListaOrdenada #listImgGrande:hover {
  width: 40rem;
  height: 40rem;
  padding: 1rem;
  margin-left: 10rem;
}

#textoDeFinalización {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  width: 100%;
  height: 10rem;
  justify-content: center;
  align-items: center;
}

#textoDeFinalización b {
  padding: 1rem;
}

#Contacto_Info {
  display: grid;
  justify-content: center;
  width: 100%;
  grid-gap: 1.5rem;
}

#Contacto_Info #Stata17Logo {
  width: 11rem;
  height: 7rem;
  justify-self: center;
}

#Contacto_Info #direccionParaInquietudes {
  width: 70%;
  justify-self: center;
  text-align: center;
}

#Contacto_Info #áreaDeSoporte {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0;
  justify-self: center;
}

#Contacto_Info #áreaDeSoporte b {
  width: 10rem;
  justify-self: center;
}

#Contacto_Info #áreaDeSoporte p {
  margin: 0;
  min-width: 15rem;
  justify-self: center;
  text-align: center;
}

#Contacto_Info #areaDeSoporteyRedesSocialContainer {
  display: flex;
  padding: 2rem;
  justify-self: center;
  padding: 0;
  margin: 0;
}

#Contacto_Info .sendEmail {
  font-size: 3rem;
  color: -webkit-linear-gradient(90deg, white 0%, black 100%);
  text-align: center;
  padding: 2rem;
  margin-bottom: 1rem;
}

#Contacto_Info ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-self: center;
  grid-gap: 0;
}

#Contacto_Info ul li {
  list-style: none;
  display: grid;
  grid-gap: -1;
}

#Contacto_Info ul li b {
  justify-self: center;
}

#Contacto_Info ul li p {
  margin-right: 20px;
}

#Contacto_Info #mantengaseConectado {
  justify-self: center;
}

#Contacto_Info div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  justify-self: center;
}

#Contacto_Info div .fa-facebook {
  color: blue;
  transition: transform 2s;
}

#Contacto_Info div .fa-facebook:hover {
  transform: translate(10px, -10px);
}

#Contacto_Info div .fa-linkedin {
  color: #19c3ee;
  transition: transform 2s;
}

#Contacto_Info div .fa-linkedin:hover {
  transform: translate(10px, -10px);
}

#Contacto_Info div img {
  margin-top: 2px;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  transition: transform 2s;
}

#Contacto_Info div img:hover {
  transform: translate(10px, -10px);
}

#Contacto_Info .fab {
  border-radius: 50%;
}

@media (max-width: 1000px) {
  body {
    flex-direction: column;
    justify-content: flex-start;
  }
  body ::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
  }
  body ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #3f00fb 0%, #172bb9 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
    border-radius: 7rem;
  }
  body ::-webkit-scrollbar-track {
    background: #9f80fd;
    border-radius: 7rem;
  }
  .lineadireccionadora {
    visibility: hidden;
    display: none;
  }
  #navbar {
    height: 18rem;
    width: 99.5%;
    position: absolute;
    margin-right: 6rem;
  }
  #main-doc {
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  #welcomeSection {
    width: 100%;
    margin-left: 0;
    left: 0;
    top: 18rem;
    width: 99.5%;
  }
  .main-section {
    position: absolute;
    margin-top: 36.5rem;
    width: 99%;
  }
  .main-section .mstext {
    width: 20rem;
    margin-right: 10rem;
    text-align: center;
  }
  .main-section ol {
    width: 100%;
  }
  .main-section li {
    width: 8rem;
  }
  .main-section .req-sistema {
    width: 20%;
    height: 10%;
  }
  .main-section #secondListCont-OL {
    flex-direction: column;
  }
  .main-section img {
    width: 8rem;
    height: 8rem;
  }
  .main-section #rowFlexBox {
    flex-direction: column;
    max-width: 5rem;
  }
  .main-section #rowFlexBox #imgLeft {
    width: 1rem;
    height: 1rem;
  }
  .main-section #rowFlexBox #imgRight {
    width: 1rem;
    height: 1rem;
  }
  .main-section #rowFlexBox p {
    width: 50%;
  }
  .main-section img {
    width: 5rem;
    height: 5rem;
  }
  h1 {
    text-align: center;
  }
  #Contacto_Info {
    margin-top: 1450%;
    max-width: 54vw;
  }
}

@media (max-width: 400px) {
  #navbar {
    width: 245%;
  }
  #root {
    margin: 0;
  }
  #main-doc {
    margin: 76% 10% 0 0;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */